<%= form_with(model: [topic, comment], url: topic_comments_path(@topic) ) do |f| %>
    <div class="form-group">
        <%= f.text_area :comment, class: "input-comment-text" %>
        <%= button_tag :type => "submit", :class => "btn btn-outline-dark comment-submit float-right" do %>
            送信  <i class="fas fa-paper-plane"></i>
        <% end %>
    </div>
<% end %>
