<header class=" mypage-wrapper">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder mypage-header">Welcome to Localmapping!</h1>
            <p class="lead mb-0 pull-right">ようこそ！　ログインさん</p>
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- マイページ（メイン部分）-->
        <div class="col-lg-8">
            <!-- いいね順のランキング（最寄駅で検索（USERの最寄駅ベース））-->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">人気ランキング</h2>
                </div>
                <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Top１（いいね順番）</li>
                    <li class="list-group-item">Top２（いいね順番）</li>
                    <li class="list-group-item">Top３（いいね順番）</li>
                </ul>
            </div>
            <!-- オススメ（投稿日が最新のもの上位４件）　-->
            <div class="text-center">
                <h2 calss="fw-bolder">オススメスポット</h2>
            </div>
            <!-- Rails でTopicsを取得してLOOPさせる。 -->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 左部分のコンテナ(Myスポット、投稿一覧(簡易的)、MyPage(未実装)）) -->
        <div class="col-lg-4">
            <!-- Myスポット -->
            <div class="card mb-4">
                <div class="card-header">Myスポット</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">投稿一覧</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ユーザ情報 -->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>



<style>

.fw-bolder {
    font-weight: bolder !important;
}

.mypage-header{
    margin-bottom: 50px;
}

.lead {
    font-size: 1.75rem;
    font-weight: 300;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 0.25rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


</style>