<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Mypages#index</h1>
<p>Find me in app/views/mypages/index.html.erb</p>


<ul>
    <li>
        <%= button_to '投稿', new_topic_path, method: :get %>
    </li>
    <li>
        <%= button_to '検索', search_topics_path, method: :get %>
    </li>
</ul>

