<header class=" mypage-wrapper">
    <div class="container">
        <!-- 自分の投稿一覧　-->
        <div class="text-center">
            <h2 calss="fw-bolder">投稿一覧</h2>
        </div>
    </div>
</header>

<%= render 'mypages/spot', mytopics: @mytopics %>