<header class=" mypage-wrapper">
    <div class="container">
        <!-- Myスポット（自分のお気に入り一覧）　-->
        <div class="text-center">
            <h2 calss="fw-bolder">Myスポット一覧</h2>
        </div>
    </div>
</header>

<%= render 'mypages/spot', mytopics: @favorite_topics %>