// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .heart {
    width: 100px;
    height: 100px;
    background: url('icons/heart_animation.png') no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }

  @keyframes heartBlast {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  
  .HeartAnimation {
    display: inline-block;
    background-position: right;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
  }
