// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-new-wrapper {
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .login-new-container {
        padding-top: 100px;

        .form-group {
            margin-bottom: 15px;
        }
    }
}