.btn-black {
    color: #565656;
    border: 1px solid #565656;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #565656;
    }
  }
  
  .topic-new-wrapper {
    padding-top: 120px;
  }

  #map {
    height: 600px;
    width: 600px;
  }

  #search {
    width: 300px;
  }

  .heart {
    width: 100px;
    height: 100px;
    background: url('icons/heart_animation.png') no-repeat;
    background-position: 0 0;
  }

  @keyframes heartBlast {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  
  .HeartAnimation {
    display: inline-block;
    background-position: right;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
  }

  .favorite-count {
    display: inline;
    color: red;
    font-size: 32px ;
  }

  #map_show {
    height: 400px;
    width: 800px;
  }

  .show_image {
    height: 160px;
    width: 160px;
    border-radius: 100px;
  }