// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;

    .users-new-container {
    padding-top: 100px;

    .form-group {
        margin-bottom: 15px;
    }
    }
}
.tip {
    width:150px;
    padding:10px;
    font-size:12px;
    margin:-60px 0 0;
    background-color:#666;
    color:#fff;
    position:absolute;
    right:-160px;
}
.tip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(102, 102, 102, 0);
	border-right-color: #5e5e5e;
	border-width: 8px;
	margin-top: -8px;
}